.my-profile-child {
    position: absolute;
    top: 59px;
    left: 615px;
    border-radius: 14px;
    background-color: #000;
    width: 140px;
    height: 46px;
}
.my-profile1 {
    position: absolute;
    top: 67px;
    left: 637px;
    line-height: 150%;
    font-weight: 500;
    color: #fff;
}
.discovery {
    position: absolute;
    top: 67px;
    left: 781px;
    line-height: 150%;
    font-weight: 500;
}
.planning {
    position: absolute;
    top: 67px;
    left: 925px;
    line-height: 150%;
    font-weight: 500;
}
.bookmarked {
    position: absolute;
    top: 67px;
    left: 1056px;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}
.community {
    position: absolute;
    top: 67px;
    left: 1224px;
    line-height: 150%;
    font-weight: 500;
}
.mealme {
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 30px;
    line-height: 150%;
    font-weight: 800;
}
.about-website {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
    color: #000;
}
.policy-service {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.items {
    position: absolute;
    top: 48px;
    right: 517px;
    width: 187px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
}
.items1 {
    position: absolute;
    top: 48px;
    right: 286px;
    width: 187px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
}
.items2 {
    position: absolute;
    top: 48px;
    right: 55px;
    width: 187px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
}
.mealme1 {
    position: absolute;
    top: 52px;
    left: 80px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 800;
    color: #000;
}
.buttons-icon {
    width: 40px;
    position: relative;
    border-radius: 4px;
    height: 40px;
    object-fit: cover;
}
.social-icons {
    position: absolute;
    top: 176px;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.divider {
    position: absolute;
    top: 0.5px;
    left: 79.5px;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 1281px;
    height: 1px;
}
.navigation-footer {
    position: absolute;
    width: 100%;
    right: -1px;
    bottom: 0px;
    left: 1px;
    background-color: #fff;
    height: 264px;
    overflow: hidden;
    font-size: 16px;
    color: #454545;
}
.omar-said {
    position: absolute;
    top: 524px;
    left: 586px;
    font-size: 64px;
    letter-spacing: -0.02em;
}
.ellipse-div {
    position: absolute;
    top: 240px;
    left: 592px;
    width: 255px;
    height: 255px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 50%;
    border: #000 solid 4px;
}

.edit-icon {
    width: 56px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 56px;
}

.bitcoin-iconsedit-filled {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 38px;
    margin-top: 8px;
}


.omar123gmailcom {
    position: absolute;
    top: 614px;
    left: 622px;
    line-height: 150%;
    color: #828282;
}
.paragraph {
    align-self: stretch;
    position: relative;
    line-height: 150%;
}
.paragraph1 {
    align-self: stretch;
    position: relative;
    font-size: 30px;
    line-height: 150%;
    color: #6b6b6b;
    text-align: left;
}
.paragraph-parent {
    width: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.frame-wrapper {
    width: 191px;
    border-radius: 22px;
    background-color: #e2e2e2;
    border: 4px solid #000;
    box-sizing: border-box;
    height: 243px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 64px 59px;
}
.paragraph3 {
    position: relative;
    font-size: 30px;
    line-height: 150%;
    color: #6b6b6b;
    text-align: left;
}
.frame-parent {
    position: absolute;
    top: 785px;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 341px;
    text-align: center;
    font-size: 46px;
}
.my-posts {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
}
.article-title {
    position: absolute;
    width: 77.36%;
    top: 1130px;
    right: 17.08%;
    left: 5.56%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 64px;
}
.pancake-strawberry {
    position: absolute;
    top: 1307px;
    left: 80px;
    font-size: 64px;
    letter-spacing: -0.02em;
    font-weight: 600;
}
.pancake-strawberry1 {
    position: absolute;
    top: 2008px;
    left: 81px;
    font-size: 64px;
    letter-spacing: -0.02em;
    font-weight: 600;
}
.div {
    position: absolute;
    top: 1408px;
    left: 80px;
    font-size: 24px;
    line-height: 150%;
    color: #828282;
    display: flex;
    align-items: center;
    width: 703px;
}
.div1 {
    position: absolute;
    top: 2109px;
    left: 81px;
    font-size: 24px;
    line-height: 150%;
    color: #828282;
    display: flex;
    align-items: center;
    width: 703px;
}
.chicken-breasts-200g {
    font-size: 20px;
    font-weight: 500;
}
.paragraph6 {
    position: absolute;
    top: 1468px;
    left: 80px;
    line-height: 150%;
    display: inline-block;
    width: 703px;
    font-size: 28px;
}
.paragraph7 {
    position: absolute;
    top: 2169px;
    left: 81px;
    line-height: 150%;
    display: inline-block;
    width: 703px;
    font-size: 28px;
}
.paragraph8 {
    position: absolute;
    top: 1561px;
    left: 80px;
    line-height: 150%;
    display: inline-block;
    width: 703px;
    font-size: 28px;
}
.paragraph9 {
    position: absolute;
    top: 2262px;
    left: 81px;
    line-height: 150%;
    display: inline-block;
    width: 703px;
    font-size: 28px;
}
.my-profile-inner {
    position: absolute;
    top: 1307px;
    left: 891px;
    border-radius: 18px;
    width: 444px;
    height: 453px;
    object-fit: cover;
}
.rectangle-icon {
    position: absolute;
    top: 2008px;
    left: 892px;
    border-radius: 18px;
    width: 444px;
    height: 453px;
    object-fit: cover;
}
.vector-icon {
    width: 19.7px;
    position: relative;
    height: 18.3px;
}
.liked {
    position: relative;
}
.vector-parent {
    position: absolute;
    top: 1777px;
    left: 80px;
    border-radius: 8px;
    background-color: #d721ba;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 22px;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}
.vector-group {
    position: absolute;
    top: 2478px;
    left: 81px;
    border-radius: 8px;
    background-color: #d721ba;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 17px 22px;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}
.load-more {
    position: relative;
    line-height: 150%;
    font-weight: 500;
}
.button {
    position: absolute;
    top: 2706px;
    left: 407px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 19px;
    background-color: #e6e6e6;
    width: 626px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    box-sizing: border-box;
}
.button1 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 24px;
    cursor: pointer;
}
.icbaseline-delete-icon {
    width: 40px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.icbaseline-delete-wrapper {
    width: 77px;
    border-radius: 38.5px;
    background-color: #000;
    height: 77px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 18px;
    box-sizing: border-box;
}
.button-parent {
    position: absolute;
    top: 1840px;
    left: 80px;
    width: 1255px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #fff;
}
.button-group {
    position: absolute;
    top: 2541px;
    left: 81px;
    width: 1255px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #fff;
}
.button3 {
    position: absolute;
    top: 1134px;
    left: 1113px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 11px;
    background-color: #000;
    width: 217px;
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    box-sizing: border-box;
    gap: 8px;
    cursor: pointer;
    color: #fff;
}
.my-profile {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 3073px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inter;
}

